<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/styles/manager/login.css}">
    <link rel="stylesheet" th:href="@{/styles/manager/layout.css}">
    <link rel="stylesheet" th:href="@{/fonts/themify-icons/themify-icons.css}">
</head>
<body>
<div id="wrapper">

    <!-- MENU TOP -->
    <div id="header">
        <div id="upper-nav">
            <!-- Begin: Location -->
            <a href="#" id="nav-location">
                <i class="location ti-location-pin"></i>
                Hồ Chí Minh
            </a>
            <!-- End: Location -->

            <!-- Begin: Menu contact -->
            <ul id="nav-contact">
                <li>
                    <a href="#">
                        <i class="nav-comment ti-comment"></i>
                        Liên hệ
                    </a>
                </li>
                <li><a href="#">English</a></li>
            </ul>
            <!-- End: Menu contact -->
        </div>
    </div>

    <!-- MENU DOWN -->
    <div id="nav">
        <a href="/" id="down-nav">
            <img alt="LOGO" class="logo-main" th:src="@{/images/general/logo-brand.png}">
        </a>
    </div>

    <!-- MAIN LOGIN -->
    <div id="login">

        <div id="log">
            <!-- Begin: Heading -->
            <img alt="" id="login-logo" th:src="@{/images/general/loco-icon.png}">
            <h2 id="login-heading">Đăng nhập</h2>
            <p id="login-slogan">Truy cập vào hệ thống quản trị</p>
            <!-- End: Heading -->

            <!-- Begin: Form -->
            <div id="login-form">
                <form method="post"
                      role="form"
                      th:action="@{/login}">
                    <div id="log-row">
                        <i class="log-icon ti-user"></i>
                        <input class="login-inf" id="username" name="username" placeholder="Tên đăng nhập" required
                               type="text">
                    </div>
                    <div id="log-row">
                        <i class="log-icon ti-key"></i>
                        <input class="login-inf" id="password" name="password" placeholder="Mật khẩu" required
                               type="password">
                        <div class="eye">
                            <i class="ti-eye"></i>
                        </div>
                    </div>
                    <input class="btn" type="submit" value="Đăng nhập">
                </form>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid Email or Password !!!</div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-success">You have been logged out !!!</div>
                </div>
            </div>
            <!-- End: Form -->
        </div>

    </div>

    <!-- FOOTER -->
    <div id="footer">

        <div id="fowr">
            <p class="credit">Powered by @2023 Saigon4paws</p>

            <div class="footer-icon">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-instagram"></i></a>
                <a href="#"><i class="ti-email"></i></a>
            </div>
        </div>

    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>
    $(document).ready(function () {
        $('.eye').click(function () {
            $(this).toggleClass('open');
            $(this).children('i').toggleClass('ti-na ti-eye');
            if ($(this).hasClass('open')) {
                $(this).prev().attr('type', 'text');
            } else {
                $(this).prev().attr('type', 'password');
            }
        });
    });
</script>

</html>